:root {
  /* Dark Blue */
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  /* Light Blue */
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  /* Gray */
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  --gray-380: #393e42;

  /* Extra */
  --black-25: rgba(0, 0, 0, 0.1);
  --black-75: rgba(0, 0, 0, 0.75);
  --white-75: rgba(255, 255, 255, 0.75);

  /* Shadows */
  --neu-front-shadow: 4px 4px 6px var(--black-25), -4px -4px 6px white;
  --neu-nav-shadow: 4px 4px 6px var(--black-25), 1px -4px 6px white;
  --neu-back-shadow: inset 2px 2px 4px -2px var(--black-75),
    inset -0.5px -0.5px 4px 1px white;
  --neu-front-btn-shadow: 2px 2px 3px 1px var(--black-25),
    -3px -3px 4px 1px #ffffff;
  --neu-background: linear-gradient(145deg, #d2d4df, #f9fdff);

  /* Font */
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  --text: 1.6rem;
  --text-sm: 1.4rem;
  --text-bg: 1.8rem;

  /* Borders */
  --border-r: 24px;
  --border-r-sm: 4px;
  /* #d1d8de */
  --border: 1px solid var(--gray-200);
}

/* Start reset */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  min-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

p {
  text-wrap: pretty;
}
/* End reset */

.text {
  font-size: var(--text);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-bg {
  font-size: var(--text-bg);
}

button {
  cursor: pointer;
}

.hide {
  opacity: 0;
  z-index: -1;
}

.show {
  opacity: 1;
  z-index: 1;
}
