body {
  padding: 0 16px;
  background-color: var(--gray-100);
}

header {
  height: 83px;

  display: flex;
  justify-content: start;
  align-items: center;
}

header .logo-container {
  width: 32px;
}
