body {
  background-color: var(--gray-100);
  font-size: 1.4rem;
}

header {
  height: 83px;
  padding: 0 16px;

  display: flex;
  justify-content: start;
  align-items: center;
}

header .logo-container {
  width: 32px;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 528px;
  padding: 0 16px;
}

textarea::selection {
  background: var(--gray-100);
  color: black;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  max-width: 528px;
  height: 78dvh;
  border-radius: var(--border-r);
  background: var(--light-blue-300);

  /* Card general font color */
  color: var(--dark-blue-400);
}

.main-card[mode="front"] {
  padding-block-start: 12px;
  animation: move-front 0.1s ease-in-out;
  box-shadow: var(--neu-front-shadow);
}

.main-card[mode="back"] {
  padding-block-start: 16px;
  animation: move-back 0.1s ease-in-out;
  box-shadow: var(--neu-back-shadow);
}

.main-card * {
  background: inherit;
  color: inherit;
}

.main-card .text-input {
  background: transparent;
  margin: 0 18px;
  height: 100%;

  resize: none;
  outline: none;
  border: none;
}

.navigator {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 62px;
  border-radius: 0 0 24px 24px;
  border-block-start: var(--border);
}

.main-card[mode="front"] .navigator {
  box-shadow: none;
}

.main-card[mode="back"] .navigator {
  box-shadow: var(--neu-nav-shadow);
}

.navi-btn {
  border: none;
  border-block-start: var(--border);
  pointer-events: all;
}

.navi-btn__main {
  border-inline: var(--border);
  font-weight: 500;
}

.navi-btn__left {
  border-inline-end: var(--border);
  background-color: var(--dark-blue-400);
  mask: url(../assets/left-arrow.svg) no-repeat center;
}

.navi-btn__right {
  border-inline-start: var(--border);
  background-color: var(--dark-blue-400);
  mask: url(../assets/right-arrow.svg) no-repeat center;
}

.navi-btn[disabled] {
  background-color: var(--gray-300);
  pointer-events: none;
}

.foot-note {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-block-start: 8px;
  margin-block-end: 14px;
  color: var(--gray-380);
}

.foot-note .icon {
  min-width: 0;
  width: 16px;
  height: 16px;
}

.foot-note p {
  margin: 0;
}

footer {
  background-color: var(--gray-500);
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  color: white;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a,
footer span {
  color: #ffbaba;
}

@keyframes move-back {
  0% {
    box-shadow: 2px 2px 6px var(--black-25), -2px -2px 6px white;
  }

  25% {
    box-shadow: 0px 0px 6px var(--black-25), 0px 0px 6px white;
  }

  50% {
    box-shadow: inset 0px 0px 8px -2px var(--black-75),
      inset 0px 0px 8px var(--white-75);
  }

  100% {
    box-shadow: inset 4px 4px 8px -4px var(--black-75),
      inset -4px -4px 8px var(--white-75);
  }
}

@keyframes move-front {
  0% {
    box-shadow: inset 0px 0px 8px -2px var(--black-75),
      inset 0px 0px 8px var(--white-75);
  }

  50% {
    box-shadow: 0px 0px 6px var(--black-25), 0px 0px 6px white;
  }

  75% {
    box-shadow: 2px 2px 6px var(--black-25), -2px -2px 6px white;
  }

  100% {
    box-shadow: 4px 4px 6px var(--black-25), -4px -4px 6px white;
  }
}
